In [1]:
import os
import time
import pandas as pd
from tqdm import tqdm
from collections import Counter

In [2]:
df = pd.read_csv("/mnt/fs03/shared/datasets/dfdc_train_all/faces_metadata.csv")

In [3]:
df.head()

,Unnamed: 0,File,label,nframes
0,1,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,145
1,2,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,106
2,11,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,103
3,26,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,150
4,27,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,150

In [4]:
def replace_filename(item):
    root_path = "/mnt/fs03/shared/datasets/dfdc_train_all"
    split_path = item["File"].split("/")[-3:][:-1]
    return os.path.join(root_path, os.path.join(split_path[0], split_path[1]))

In [5]:
df["New_Files"] = df.apply(replace_filename, axis=1)

In [6]:
df.head()

,Unnamed: 0,File,label,nframes,New_Files
0,1,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,145,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
1,2,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,106,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
2,11,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,103,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
3,26,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,150,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
4,27,/home/mlomnitz/Documents/DFDC/DeepFakeDetectio...,0,150,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...

In [7]:
df = df.drop(["File"], axis=1)

In [8]:
df.head()

,Unnamed: 0,label,nframes,New_Files
0,1,0,145,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
1,2,0,106,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
2,11,0,103,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
3,26,0,150,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
4,27,0,150,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...

In [9]:
df = df.rename(columns={"New_Files" : "Files"})

In [10]:
df.head()

,Unnamed: 0,label,nframes,Files
0,1,0,145,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
1,2,0,106,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
2,11,0,103,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
3,26,0,150,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...
4,27,0,150,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...

In [11]:
cols = df.columns.tolist()
cols

['Unnamed: 0', 'label', 'nframes', 'Files']

In [12]:
cols = cols[:1] + cols[-1:] + cols[1:-1]
cols

['Unnamed: 0', 'Files', 'label', 'nframes']

In [13]:
df = df[cols]

In [14]:
df.head()

,Unnamed: 0,Files,label,nframes
0,1,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,145
1,2,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,106
2,11,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,103
3,26,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,150
4,27,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,150

In [15]:
df.to_csv("balanced_metadata_fs03.csv", index=False)

In [16]:
df_test = pd.read_csv("balanced_metadata_fs03.csv")

In [17]:
df_test.head()

,Unnamed: 0,Files,label,nframes
0,1,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,145
1,2,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,106
2,11,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,103
3,26,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,150
4,27,/mnt/fs03/shared/datasets/dfdc_train_all/dfdc_...,0,150